body{
    display: grid;
    grid-template-columns: 10fr 75fr;
    grid-template-rows: 15vh 70vh;
    gap: 20px;
    /* border: solid 2px black;
    border-radius: 3px; */
    
}

img{
    height: 100%;
}

.center-klass{
    text-align: center;
}

.div-klass {
    border: solid 3px black;
    border-radius: 10px;
    margin-bottom: 5px;

}

@media screen and (min-width: 641px) and (max-width: 1007px){
    main{
        display: grid;
        grid-template-columns: 1fr;
    }
    nav{
        grid-column: 2/3;
        grid-row: 2/3;
        flex-direction: row;
    }
    header{
        grid-column: 1/3;
    }
}

@media screen and (min-width: 1007px) {
    main{
        display: grid;
        grid-template-columns: 1fr, 1fr,
    }
    nav{
        flex-direction: row;
        justify-content: space-around;
    }
    header{
        grid-column: 1/3;
    }
}

